---
layout: default
---
<article class="post">

    <header class="post-header-2">
        <div class="post-title-2">{{ page.title }}</div>

        <div class="post-download">
            <a href=#>Download {{ page.version }}</a>
            <div class="post-download-dropdown">
                <a href={{page.download-installer}}>
                    <p>Download installer .exe</p>
                </a>
                <a href={{page.download-portable}}>
                    <p>Download portable .zip</p>
                </a>
            </div>
        </div>
    </header>

    <div class="post-content">
        {{ content }}
    </div>

</article>